@media print {
	
body {
	background: #FFF;
	max-width: none;
}

.container, .container-sm, .container-md, .container-lg {
	max-width: none;
}

.toolbar, .breadcrumb, footer, header .messages {
	display: none;
}

}

h2, h3, h4, fieldset legend {
	font-family: 'DaysOne';
	color: #600;
}
h5, h6 {
	color: #600;
}

.toolbar > .nav-link {
	border: 1px solid #CBB;
	border-radius: .25rem;
	padding: .375em .75em;
} 

.table-responsive .table td {
	white-space: nowrap;
}

.item-image {
	float: right;
	margin: 0 0 .25rem .25rem;
	width: 40%;
	max-width: 15em;
}
