@media print and all {
	
body {
	background: #FFF;
	max-width: none;
}

.container, .container-sm, .container-md, .container-lg {
	max-width: none;
}

.toolbar, .breadcrumb, footer {
	display: none ;
}

} 

.table-responsive .table td {
	white-space: nowrap;
}
