@media print {
	
body {
	background: #FFF;
	max-width: none;
}

.container, .container-sm, .container-md, .container-lg {
	max-width: none;
}

.toolbar, .breadcrumb, footer {
	display: none ;
}

}

.toolbar > .nav-link {
	border: 1px solid #CBB;
	border-radius: .25rem;
	padding: .375em .75em;
} 

.table-responsive .table td {
	white-space: nowrap;
}
