# specific to each installation
dev.ci4/.env

# codeigniter system
dev.ci4/system/*
dev.ci4/writable/*
dev.ci4/ci/*

# event downloads / resources
dev.ci4/public/public/*

# live version
public.ci4/*
public_html/error_log
