.fraction {
	display: inline-block;
}
.fraction .fran {
	font-size: .6em;
	vertical-align: super;
	font-weight: 600;
}
.fraction .frad {
	font-size: .6em;
	vertical-align: baseline;
	font-weight: 600;
}

.fraction .frasl {
	margin: 0 -.05em;
	font-size: 0.7em;
	vertical-align: 0.25em;
}