body {
	min-width:360px;
}
.fraction {
	display: inline-block;
}
.fraction .fran {
	font-size: .6em;
	vertical-align: super;
	font-weight: 600;
}
.fraction .frad {
	font-size: .6em;
	vertical-align: baseline;
	font-weight: 600;
}

.fraction .frasl {
	margin: 0 -.05em;
	font-size: 0.7em;
	vertical-align: 0.25em;
}

#playtrack #pt-progress,
#playtrack #pt-progress .progress {
	height:.8em;
}

#playtrack .d-flex {
	gap: 0.4em;
}

button.playing {
	animation-name: btnplaying;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
}

@keyframes btnplaying {
  0%  { opacity: 1  }
  30% { opacity: 0.3}
  40% { opacity: 0.3}
  70% { opacity: 1  }
}

.breadcrumb {
	gap:.4em;
}
.breadcrumb .breadcrumb-item {
	border: 1px solid var(--bs-secondary-border-subtle);
	border-radius: .3em;
	background: var(--bs-light);	
	text-align: center;
}
.breadcrumb .breadcrumb-item a {
	display: block;
	padding: 0 .3em;
	line-height: 1.9em;
	text-decoration: none;
	min-width: 4em;
}
.breadcrumb-item + .breadcrumb-item {
	padding-left: 0; /* var(--bs-breadcrumb-item-padding-x); */
}
.breadcrumb-item + .breadcrumb-item::before {
	display: none;
}


