pre {
	font-family: inherit;
	font-size: inherit;
	margin: 0;
}

main header {
	margin: 0 0 0.3em 0;
	border-bottom: 1px solid #b7561b;
	padding: 0.3em 0;
}
main header ul {
	white-space: nowrap;
}
main header ul strong {
	display: inline-block;
	min-width: 6em;
	text-align: right;
	margin-right: .3em;
}
main main section {
	border-bottom: 1px solid #b7561b;
	padding: .2em 0;
	margin: 0;
	page-break-inside: avoid;
}

main table {
	border-collapse: collapse;
}
main tfoot td {
	font-weight: bold;
	border-top: 1px solid #ddd;
}
main thead th {
	text-align: left;
}
main table.table-sm td {
	padding: 0em 0.2em;
}

.routine {
	border: 1px solid #666;
}
.routine table {
	width: 100%;
}
.routine td {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 0 .3em;
	white-space: nowrap;
}
.routine .el {
	width: 1em;
	color: #b7561b;
}
.routine .el0 {
	width: 1.5em;
}

@media print {
@page { size: A4 portrait; }
body.container-fluid { 
	margin: 0; 
	font-size: 10.5pt;
	padding: 0;
}
#toolbarContainer {display:none;}
}