body {
	font-family: sans-serif;
	margin: 1em;
	padding: 0;
}
pre {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
h1 {
	margin: 0;
	background: #eee;
}
h3 {
	font-size: 1rem;
	margin: 0;
	padding: 0;
}
h5 {
	font-size: 1em;
	margin:0;
	padding: 0;
}
header {
	margin: 0 0 0.3em 0;
	border-bottom: 1px solid #b7561b;
	padding: 0.5em 0;
}
header ul {
	white-space: nowrap;
}
header ul strong {
	display: inline-block;
	min-width: 6em;
	text-align: right;
	margin-right: .3em;
}
main section {
	border-bottom: 1px solid #b7561b;
	padding: .2em 0;
	margin: 0;
	page-break-inside: avoid;
}

footer {
	margin: 0.2em 0 0 0;
	font-size: 1rem;
	color: #212529;
	padding: 0;
	overflow: hidden;
}
footer p {
	margin: 0.5em;
}
footer a {
	float: left;
	font-weight: 400;
	line-height: 1.5;
	color: #FFF;
	text-align: center;
	cursor: pointer;
	background-color: #572b2b;
	border: 0;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	margin: .5em;
	text-decoration: none;
}
table {
	border-collapse: collapse;
}
tfoot td {
	font-weight: bold;
	border-top: 1px solid #ddd;
}
thead th {
	text-align: left;
}
table.table-sm td {
	padding: 0em 0.2em;
}

.d-none {
	display:none;
}
.d-flex-column {
	display: flex;
	flex-direction: column;
	gap: .7em;
	align-items: self-start;
}
.d-flex-column > * {
	margin: 0;
}
.alert-danger {
	background: #edd9d9a8;
	font-size: .9em;
}
.list-unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}

.text-end {
	text-align: right;
}
.text-decoration-line-through {
	text-decoration: line-through;
}

.text-muted {
	font-size:0.8em; 
	color:#777; 
	font-style:italic;
}

.routine {
	border: 1px solid #666;
}
.routine table {
	width: 100%;
}
.routine td {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 0 .3em;
	white-space: nowrap;
}
.routine .el {
	width: 1em;
	color: #b7561b;
}
.routine .el0 {
	width: 1.5em;
}

.row {
	display: flex;
	gap: 0;
	align-items: flex-start;
}
.row > * {
	overflow: hidden;
	padding: 0 0.5em;
	margin: 0;
	box-sizing: border-box;
}
.col-1  { width: 25%  }
.col-2  { width: 25%  }
.col-3  { width: 50%  }
.col-4  { width: 50%  } 
.col-5  { width: 75%  }
.col-6  { width: 75%  }
.col-7  { width: 100% }
.col-8  { width: 100% }
.col-9  { width: 100% }
.col-10 { width: 100% }
.col-11 { width: 100% }


@media (min-width:481px) {
.d-sm-block { display:block; }
.col-1  { width:  8.3% }
.col-2  { width: 16.6% }
.col-3  { width: 25%   }
.col-4  { width: 33.3% }
.col-5  { width: 41.6% }
.col-6  { width: 50%   }
.col-7  { width: 58.3% }
.col-8  { width: 66.6% }
.col-9  { width: 75%   }
.col-10 { width: 83.3% }
.col-11 { width: 91.6% }
}

@media print {
@page { size: A4 portrait; }
:root {	font-size: 10.5pt;}
footer { display:none; }
body { margin: 0; }
}