#exes .tab-pane .elnum {
	width:3em;
}
#exes .tab-pane .tarrif-0 {
	max-width:5em;
}
#exes .tab-pane .tarrif-1 {
	max-width:4em;
}
#exes .tab-pane .routine-0 {
	max-width:3em;
}
#exes .tab-pane .routine-1 {
	max-width:3em;
}
#exes .tab-pane .not-last {
	border-bottom-right-radius:0; 
	border-bottom-left-radius:0;
}
#exes .tab-pane .not-first {
	border-top:0; 
	border-top-right-radius:0; 
	border-top-left-radius:0;
}
@media (max-width: 576px) {
nav .breadcrumb {
	display:none;
}
}