#run_place {
	line-height: 1.2;
}
#run_place h6 {
	font-weight: bold;
	margin: 0;
	padding: 0;
	background: #fff4ba;
}
#run_place ul {
	padding: 0;
	list-style: none;
	margin: .3em 0;
} 
#run_place ul .cmode.active,
#run_place ul .omode {
	font-weight: bold;
}

#displayframe {
	width: 92vw;
	height: 52vw;
	max-width: 32rem;
	max-height: 18rem;
}
#runvars {
	width: 92vw;
	max-width: 22rem;
}

