html {
	font-size: 7vw;
}

body {
	margin:0;
	padding:0;
	border:0;
	background:#006;
	color:#FFF;
	cursor:none;
	font-family:sans-serif;
	overflow:hidden;
}
#display {
	position: fixed;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
} 
#info {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}
#msg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}
#frametick {
	font-size:4px;
	position:absolute;
	right:0;
	top:0;
	z-index: 3;
}


#display img  {
	height: auto;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index:1;
}
#msg p {
	background: #fcc;
	color: #033;
	font-size: 0.6em;
	opacity: .9;
	padding: .5em;
	margin: 0;
	float: left;
	line-height: normal;
}

#info iframe{
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.runtable {
	border:0;
	left:0;
	margin:0;
	padding:0;
	width:100%;
}

.runtable .message {
	border:0;
	color:#FF0;
	font-size:80%;
	margin:0;
	padding:0 0.1em;
}

.runtable table {
	border:0;
	margin:0;
	padding:0;
	width:100%;
	table-layout: fixed;
}

.runtable table tbody td {
	background:#FF9;
	color:#006;
	font-weight:bold;
	white-space:nowrap;
}

.runtable table td {
	border:0;
	line-height:1.2em;
	margin:0;
	padding:0;
	text-align:center;
	overflow: hidden;
}

.runtable table tr.omode.active td,
.runtable table tr.tmode.active td,
.runtable table tr.cmode.active td.active {
	background:#FCC;
}

.runtable table th,
.runtable table th.runcell {
	color:#FF0;
	font-size:75%;
	font-weight:normal;
}

.runtable table thead td {
	color:#FF0;
	font-size:75%;
	font-weight:bold;
}

.runtable table thead th {
	border: 0;
	color: #FFF;
	font-size: 60%;
	font-weight: bold;
	padding: 0;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#timertick {
	background:#333;
	border:1px solid #000;
	font-size:60%;
	margin:.2em 0;
	overflow:hidden;
	padding:0;
}

#timertick .progbar {
	border: 0;
	color: #DDF;
	margin: 0;
	font-weight: bold;
	padding: .2em 0;
	white-space: nowrap;
	text-align: center;
}
