#printdata pre {
	font-family: inherit;
	font-size: inherit;
	margin: 0;
}

#printdata .text-muted {
	font-size: 90%;
}

#printdata header {
	margin: 0 0 0.3em 0;
	border-bottom: 1px solid #b7561b;
	padding: 0.3em 0;
}
#printdata header ul {
	white-space: nowrap;
}
#printdata header ul strong {
	display: inline-block;
	min-width: 6em;
	text-align: right;
	margin-right: .3em;
}

#printdata section {
	border-bottom: 1px solid #b7561b;
	padding: .2em 0;
	margin: 0;
	page-break-inside: avoid;
}

#printdata .table {
	margin: 0;
}
#printdata .table.table-sm td {
	padding: 0em 0.2em;
}
#printdata .dscore tfoot td {
	font-weight: bold;
	border-top: 1px solid #ddd;
}
#printdata .dscore thead th {
	text-align: left;
}
#printdata .dscore td {
	border: 0;
}
#printdata .dscore .list-unstyled {
	margin:0; 
	padding: 0;
}

.routine {
	border: 1px solid #666;
	overflow: hidden;
}
.routine table {
	width: 100%;
}
.routine tr td {
	padding: 0 .3em;
	white-space: nowrap;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.routine tr:first-child td {
	border-top: 0;
}
.routine tr:last-child td {
	border-bottom: 0;
}


.routine .elnum {
	width: 1em;
	color: #b7561b;
}
.routine .elval {
	width: 1.5em;
}

@media print {
@page { size: A4 portrait; }
body.container-fluid { 
	margin: 0; 
	padding: 0;
	line-height: 1.25;
	font-size: 10.5pt;
}
#toolbarContainer {display:none;}
}