.routine tr td {
	padding: 0 .3em;
	border-top: var(--tableborder);
	border-bottom: var(--tableborder);
}

.routine tr td.eldes {
	white-space: nowrap;
}

@media print {

@page {
	size: A4 portrait; 
}

}